<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name="com.maximum.fastride.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.maximum.fastride.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.DriverRoleActivity"
            android:label="@string/title_activity_driver_role"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.PassengerRoleActivity"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:label="@string/title_activity_passenger_role"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.SettingsActivity"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" >
        </activity>

    </application>

</manifest>


