<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maximum.fastride">



    <application
        android:allowBackup="true"
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name="com.maximum.fastride.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.maximum.fastride.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.DriverRoleActivity"
            android:label="@string/title_activity_driver_role"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.PassengerRoleActivity"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:label="@string/title_activity_passenger_role"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.SettingsActivity"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.maximum.fastride.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- Jobs are supported only on 5.0 -->
        <service
            android:name=".jobs.GeofencesDownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true">
        </service>

    </application>

</manifest>


