<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>

        <activity
            android:name="com.maximum.fastride.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.maximum.fastride.DriverRoleActivity"
            android:label="@string/title_activity_driver_role"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            >
        </activity>

        <activity android:name="com.maximum.fastride.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            >
        </activity>

        <activity android:name="com.maximum.fastride.PassengerRoleActivity"
            android:label="@string/title_activity_passenger"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            >
        </activity>

        <activity android:name="com.maximum.fastride.MyRidesActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/title_activity_my_rides"
            android:parentActivityName="com.maximum.fastride.MainActivity"
            >
        </activity>
    </application>

</manifest>

